@model MobileBillingKata.ViewModels.CustomerBills

<div class="customer">
    <div style="float: left; display: inline-table; margin-right: 50px; width: 40%;">
        <h2 style="text-decoration:underline">Customer Details</h2>
        <table>
            <thead>
                <tr style="text-align: left">
                    <th>Customer Full Name</th>
                    <th>Phone Number</th>
                    <th>Package</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td width="200px">@item.FullName</td>
                        <td width="150px">@item.PhoneNumber</td>
                        <td>@item.PackageCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h2 style="text-decoration:underline">Call Record Details</h2>
        <table>
            <thead>
                <tr style="text-align: left; vertical-align: top;">
                    <th>Customer Full Name</th>
                    <th>Subscriber Phone Number</th>
                    <th>Receiver Phone Number</th>
                    <th>StartTime</th>
                    <th>CallDuration (secs)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CallDetailRecords)
                {
                    <tr>
                        <td width="200px">@item.CustomerName</td>
                        <td width="150px">@item.SubscriberPhoneNumber</td>
                        <td width="150px">@item.ReceiverPhoneNumber</td>
                        <td width="180px">@item.StartTime</td>
                        <td width="150px" style="text-align: center;">@item.CallDuration</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="billingSection" style=" margin-top: 60px;">
    <h1 style="text-decoration: underline; margin-bottom:0;">Billing Details</h1>

    @foreach (var item in Model.Bills)
    {
        <table border="1" style="float: left; margin-right: 50px; margin-top: 20px; width: 325px;">
            <tbody style="text-align: left">
                <tr>
                    <th>Customer Full Name :</th>
                    <td style="font-weight: bold;">@item.CustomerFullName</td>
                </tr>
                <tr>
                    <th>Phone Number :</th>
                    <td>@item.PhoneNumber</td>
                </tr>
                <tr>
                    <th>Billing Address :</th>
                    <td>@item.BillingAddress</td>
                </tr>
                <tr>
                    <th>Total Call Charges :</th>
                    <td>@item.TotalCallCharges</td>
                </tr>
                <tr>
                    <th>Total Discount:</th>
                    <td>@item.TotalDiscount</td>
                </tr>
                <tr>
                    <th>Tax:</th>
                    <td>@item.Tax</td>
                </tr>
                <tr>
                    <th>Rental:</th>
                    <td>@item.Rental</td>
                </tr>
                <tr>
                    <th>Bill Amount:</th>
                    <td>@item.BillAmount</td>
                </tr>
            </tbody>
        </table>
    }
</div>

<style>
    .Customer table {
        border-collapse: collapse;
    }

    .Customer th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
    }
</style>
